html, body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
}

div.viewer-wrapper {
    width: 80%;
    height: 480px;
    max-height: calc(100%);
    padding: 1rem;
    flex-grow: 2;
    box-sizing: border-box;
}